.fullScreenContainer {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.homeContainer {
  width: 100%;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  color: transparent;
  background-color: transparent;
}

.homeSection {
  margin-top: 180px;
}

.experienceContainer,
.projectContainer,
.gutter,
.aboutContainer {
  color: "black";
  padding-top: 40px;
}

.gutter {
  margin-left: 230px;
}

.backgroundImage {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  content: fit-content;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-style: normal;
  font: inherit;
  font-weight: 700;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

.title h1 {
  font-size: 32px;
  margin: 0;
  color: #ffffff;
}

.title h2 {
  font-size: 18px;
  font-weight: lighter;
  margin: 5px 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.navigationBar {
  position: relative;
  margin-bottom: 33px;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  border: 1px solid transparent;
  border-color: transparent;
  align-content: center;
  left: 32.5%;
  margin-left: 33px;
}
/* page.module.css */
.headerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid transparent;

  z-index: 1000;
  transition: visibility 0.3s ease, opacity 0.3s ease,
    background-color 0.3s ease; /* Smooth transition for background color */

  height: 50px;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%; /* Ensures full width when fixed */
}

.hidden {
  visibility: hidden;
  opacity: 0;
  position: absolute; /* Ensure it doesn't take space when hidden */
}

.nameContainer {
  font-family: "Montserrat", sans-serif;
  color: #333; /* Softer color for the text */
  font-size: 80px; /* Larger font size for better visibility */
  font-weight: bold; /* Bold font weight for emphasis */
  margin-left: 200px;
}

.navigationBar1 {
  display: flex;
  margin-right: 200px;
}

.navLink1 {
  text-decoration: none;
  color: #333; /* Match the name container color */
  padding: 10px 15px; /* Larger padding for easier clickability */
  font-size: 18px; /* Larger font size for better readability */
  transition: color 0.3s ease, background-color 0.3s ease; /* Smooth transition for hover effects */
}

.navLink1:hover {
  color: #0056b3; /* A more appealing color on hover */
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Slight background highlight on hover */
}
.navLink {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 8px 12px;
  margin: 0 10px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: lightblue;
}

.Homebuttons button {
  padding: 8px 16px;
  border: 1px solid;
  color: #ffffff;
  text-decoration: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  background-color: transparent;
  border-color: transparent;
}

.Homebuttons button:hover {
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
}

.contact {
  position: absolute;
  top: 35px;
  right: 40px;
  z-index: 1050;
  border: 1px solid transparent;
  border-radius: 20px;
}

.logo {
  font-family: "Great Vibes", cursive;
  color: #fffefe;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 18px;
}

.contactButton {
  padding: 8px 16px;
  border: 1px solid transparent;
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
  border-radius: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.image img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.homeDescription {
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  justify-content: center;
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.6;
  background-color: transparent;
  font-weight: 500;
}

.aboutContainer {
  background-color: #fff;
  text-align: center;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  width: auto;
  align-items: center;
  flex-direction: column;
  display: flex;
  height: 800px;
}

.aboutContainer h3 {
  font-size: 18px;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
}

.aboutBody {
  position: relative;
}

.cardsContainer {
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
  width: 1200px;
}

.card {
  background-color: #f9f9f9;
  padding: 20px;
  width: 30%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 0 10px;
  border-bottom: 1px solid black;
  font-family: "Times New Roman", Times, serif;
}

.card h5 {
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
  font-family: "Times New Roman", Times, serif;
}

.card p {
  color: #666;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icons {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.toolsContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-left: 150px;
}

.toolImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.experienceContainer,
.projectsContainer {
  text-align: center;
  width: 1200px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 16px;
  padding: 20px;
}

.gridContainer1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 16px;
  padding: 20px;
}

.experienceCard,
.projectCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 450px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.experienceCard {
  width: "500px";
}

.projectCard:hover,
.experienceCard:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.experienceContent,
.projectContent {
  text-align: center;
}

.experienceContent,
.projectContent h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.experienceContent,
.projectContent p {
  font-size: 16px;
  margin-bottom: 5px;
}

.experienceContent,
.projectContent p:last-of-type {
  font-size: 14px;
  font-style: italic;
  font-weight: lighter;
  font-family: "Times New Roman", Times, serif;
}

.contacts {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.homebuttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  margin-right: 200px;
}

.homebuttons button {
  background-color: transparent;
  color: #000000;
  border: 1px solid #ffffff;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.homebuttons button:hover {
  background-color: #000000;
  color: white;
}

.logo3 h3 {
  font-size: 24px;
  color: #333;
}

.logo3 {
  margin-bottom: 20px;
  margin-right: 195px;
  font-family: "Great Vibes", cursive;
  font-weight: 800;
}

.footer {
  width: 60%;
  text-align: center;
  padding: 10px;
  border-top: 1px solid #ccc;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}

.footer p {
  font-size: 14px;
}
